spring-xml-extend/src/main/resources/META-INF/spring-sql.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://extend.spring.xml/schema/sql"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://extend.spring.xml/schema/sql"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans" />

    <xsd:complexType name="sqlTypes" mixed="true">
        <xsd:attribute name="id" type="xsd:string" use="required"/>
        <xsd:attribute name="clearLine" type="xsd:boolean" use="optional" default="true"/>
    </xsd:complexType>

    <xsd:element name="select">
        <xsd:complexType>
           <xsd:complexContent>
               <xsd:extension base="sqlTypes"></xsd:extension>
           </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="insert">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="sqlTypes"></xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="update">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="sqlTypes"></xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="delete">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="sqlTypes"></xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>